.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.94);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
    &__inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    &--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    &__description {
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center;
        line-height: 1.56;
        

    }
    &__close {
        font-size: 2rem;
        position: absolute;
        top: 15px;
        right: 15px;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        color: $mainBlue;
        transition: color .3s ease-out;
        cursor: pointer;
        
        &:hover {
            color: $mainOrange;
        }
    }
}